body {
  background-color: #F8F8F8;
  font-family: monospace;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  color: #333;
}

/*
#status {
font-weight: bold;
float: right;
}
*/
.bold {
  font-weight: bold;
}

.wrapper {
  margin: auto;
  width: 700px;
  padding: 20px 0 0 220px;
  position: relative;
}

.notifications {
  position: absolute;
  top: 20px;
  left: 0px;
  height: 700px;
  width: 200px;
  overflow: hidden;
}

.content {
  position: relative;
  overflow: hidden;
  height: 700px;
}

.column {
  width: auto;
  padding: 10px;
}

.column.left {
  float: left;
}

.column.right {
  float: right;
}

.countdown {
  -webkit-transition: all 5s;
  -moz-transition: all 5s;
  -o-transition: all 5s;
  transition: all 5s;
  transition-timing-function : linear;
  color: #f33;
  font-size: 21px;
}

.cost {
  color: #f33;
}

.award {
  color: #383;
}

button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
}

.ascii-art {
  white-space: pre;
}
