body {
  background-color: #F8F8F8;
  font-family: monospace;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  color: #333;
}

#status {
  font-weight: bold;
  float: right;
}

.wrapper {
  margin: auto;
  width: 700px;
  padding: 20px 0 0 220px;
  position: relative;
}

.notifications {
  position: absolute;
  top: 20px;
  left: 0px;
  height: 700px;
  width: 200px;
  overflow: hidden;
}

.content {
  position: relative;
  overflow: hidden;
  height: 700px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.cost {
  color: #f33;
}

.award {
  color: #383;
}

button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
}
